<div class="content-area">

  <div class="row">
    <div class="col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

      <h2>TERMINOS Y CONDICIONES</h2>

      <p>La aplicación PROYECCIONES 2019 es desarrollada por el Área de Comunicaciones de la Asociación Convención
        Bautista
        de
        Cuba Occidental.</p>
      <p>Esta Aplicación está basada en el Libro de Planes y Coordinaciones del mismo nombre que cada año publica la
        Asociación.</p>
      <p>Proyecciones 2019 es propiedad de la Asociación Convención Bautista de Cuba Occidental.</p>
      <p>Toda la información que aparece en esta aplicación es de naturaleza pública y debe ser utilizada
        responsablemente.
        Al
        igual que en el Libro Proyecciones, se reflejan las Iglesias, Pastores y Líderes que pertenecen a la misma.</p>

      <h2>REGISTRO DE USUARIO</h2>
      <p>Al instalar la aplicación, se solicita su consentimiento para registrar sus datos personales en el listado de
        contactos a los cuales la Asociación Convención Bautista de Cuba Occidental envía información, vía correo
        electrónico,
        con periodicidad.</p>
      <p>Al proveer la información solicitada, usted EXPRESA su consentimiento para recibir <u>correos electrónicos</u>
        de parte de la Asociación.</p>
      <p>Su <u>INFORMACIÓN PERSONAL Y DE CONTACTO</u> no será compartida con terceros.</p>
      <p>La APLICACIÓN le pedirá que responda determinadas preguntas relacionadas con su persona, cargo y
        responsabilidad
        en
        su Iglesia local, que permitirán con posterioridad que Usted pueda hacer un uso más adecuado de la misma.</p>
      <p>Si Usted es un Pastor, Líder, Misionero, miembro de una Iglesia Bautista local, congregado o simplemente desea
        usar
        la APLICACIÓN, por favor, tome el tiempo requerido para responder las preguntas que se le hacen. Las mismas nos
        permitirán optimizar el funcionamiento de la APLICACIÓN.</p>

      <h2>RESERVACIONES</h2>
      <p>La APLICACIÓN proveerá, en dependencia del REGISTRO DE USUARIO, opción de realizar RESERVACIONES para los
        diferentes Retiros que se celebran en el Campamento Bautista “Dr. Marta Cabarroca”. Para ello usted debe proveer
        información de Nombre y Apellidos de los Retiristas, así como su número de Identificación (Carné de
        Identidad).</p>
      <p>Esta información no quedará registrada en la APLICACIÓN, solo se usará para generar un correo electrónico que
        con posterioridad se envía a la dirección <a href="mailto:reservas@cbcocc.co.cu">reservas@cbcocc.co.cu</a> en el
        cual aparecerán sus DATOS PERSONALES tomados del REGISTRO DE USUARIO y el listado de personas a reservar.</p>

      <h2>USO Y DISTRIBUCIÓN</h2>
      <p><b>PROYECCIONES 2019</b> es totalmente gratuito y no debe ser vendido.</p>
      <p>PROYECCIONES 2019 puede ser distribuido gratuitamente entre Iglesias, hermanos y pueblo cristiano en
        general.</p>
      <p>A pesar de ser gratuito, el desarrollo, compilación y manejo de la información que en ella aparece es el fruto
        de
        arduo trabajo de muchos hermanos, cuyo propósito es poner en manos de todos, una herramienta útil para el
        trabajo
        de
        las Iglesias locales y de la Asociación Convención Bautista de Cuba Occidental.</p>
      <p>SOLI DEO GLORIA</p>

    </div>
  </div>
</div>
