<mat-toolbar id="app-toolbar">
  <button mat-icon-button (click)="toggleSideMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Proyecciones</span>
  <!--  <span class="spacer"></span>-->
  <!--  <button mat-button routerLink="login">-->
  <!--    Autenticarse-->
  <!--    <mat-icon>account_circle</mat-icon>-->
  <!--  </button>-->
</mat-toolbar>

<mat-sidenav-container id="app-body">
  <mat-sidenav [opened]="sideMenuVisible" disableClose mode="side" id="app-side-menu">
    <mat-nav-list>
      <ng-template ngFor let-link [ngForOf]="links">
        <a mat-list-item *ngIf="link.type=='item'" routerLink="{{link.path}}" routerLinkActive="selected">
          <mat-icon mat-list-icon class="active">{{link.icon}}</mat-icon>
          <mat-icon mat-list-icon class="material-icons-outlined">{{link.icon}}</mat-icon>
          <div mat-line>{{link.label}}</div>
        </a>
        <mat-divider *ngIf="link.type=='divider'"></mat-divider>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
