<mat-sidenav-container id="app-body">

  <mat-sidenav [(opened)]="sideMenuVisible" [mode]="sideMenuMode" id="app-side-menu">

    <div class="brand">
      <img src="assets/img/app_logo_full.svg" alt="Proyecciones" class="logo">
    </div>

    <mat-nav-list id="side-menu">
      <ng-template ngFor let-link [ngForOf]="links">
        <a mat-list-item *ngIf="link.type=='item'" routerLink="{{link.path}}" routerLinkActive="selected">
          <mat-icon mat-list-icon class="active">{{link.icon}}</mat-icon>
          <mat-icon mat-list-icon class="material-icons-outlined">{{link.icon}}</mat-icon>
          <div mat-line>{{link.label}}</div>
        </a>
        <mat-divider *ngIf="link.type=='divider'"></mat-divider>
      </ng-template>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content id="app-content-panel">
    <mat-toolbar id="app-toolbar">
      <button mat-icon-button (click)="toggleSideMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <!--  <span class="spacer"></span>-->
      <!--  <button mat-button routerLink="login">-->
      <!--    Autenticarse-->
      <!--    <mat-icon>account_circle</mat-icon>-->
      <!--  </button>-->
    </mat-toolbar>

    <div id="app-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
