<mat-toolbar id="app-toolbar">
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="toggle menu button">menu</mat-icon>
  </button>
  <span>Proyecciones</span>
</mat-toolbar>

<mat-sidenav-container id="app-body">
  <mat-sidenav opened disableClose mode="side" id="app-side-menu">
    <mat-nav-list>
      <div *ngFor="let link of links">
        <a mat-list-item *ngIf="link.type=='item'" href="/{{link.path}}">
          <mat-icon matListIcon>{{link.icon}}</mat-icon>
          <span matline>{{link.label}}</span>
        </a>
        <mat-divider *ngIf="link.type=='divider'"></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="app-content">
    <span>Main</span>
  </mat-sidenav-content>
</mat-sidenav-container>
