<div class="content-area">

  <section>
    <div class="row">
      <!--    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
      <div class="col">
        <mat-card id="today-reading-card" mat-ripple routerLink="/daily-reading-calendar">
          <mat-card-title>Lectura Bíblica para hoy</mat-card-title>
          <mat-card-subtitle>
            Juan 3:16
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          Eventos para hoy
          <button mat-flat-button mat-icon-button color="primary" routerLink="/events">
            <mat-icon>date_range</mat-icon>
          </button>
        </h2>
      </div>
    </div>

    <div class="row section-content" *ngIf="todayEvents.length!=0">

      <ng-template ngFor let-todayEvent [ngForOf]="todayEvents">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
          <mat-card class="flat-colored-card h-100" mat-ripple [style.backgroundColor]="getColor(todayEvent)">
            <mat-icon>{{getIcon(todayEvent)}}</mat-icon>
            <mat-card-title>
              {{todayEvent.name}}
            </mat-card-title>
            <mat-card-subtitle>
              {{todayEvent.participants}}
            </mat-card-subtitle>
          </mat-card>
        </div>

      </ng-template>

    </div>

    <div class="row section-content" *ngIf="todayEvents.length==0">
      <div class="col">

        <mat-card class="flat-empty-card text-center">
          <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
          <mat-card-title>No hay eventos para hoy</mat-card-title>
        </mat-card>

      </div>
    </div>

  </section>

  <section>
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          Motivos de oración para hoy
          <button mat-flat-button mat-icon-button color="primary" routerLink="/praying-calendar">
            <mat-icon>notes</mat-icon>
          </button>
        </h2>
      </div>
    </div>

    <div class="row section-content">
      <div class="col">

        <div class="blockquote" *ngIf="todayPrayingMotive!==''">
          {{todayPrayingMotive}}
        </div>

        <div class="blockquote d-flex" *ngIf="todayPrayingMotive===''">
          <mat-spinner mode="indeterminate" diameter="20"></mat-spinner>
          <span class="ms-3">Cargando</span>
        </div>

      </div>
    </div>

  </section>

  <section>
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          Aniversarios para hoy
          <button mat-flat-button mat-icon-button color="primary" routerLink="/anniversaries">
            <mat-icon>cake</mat-icon>
          </button>
        </h2>
      </div>
    </div>

    <div class="row section-content" *ngIf="todayAnniversaries.length!=0">

      <ng-template ngFor let-todayAnniversary [ngForOf]="todayAnniversaries">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
          <mat-card class="flat-colored-card h-100" mat-ripple [style.backgroundColor]="eventColors['anniversary']">
            <mat-icon>{{eventIcons['anniversary']}}</mat-icon>
            <mat-card-title>
              {{todayAnniversary.name}}
            </mat-card-title>
            <mat-card-subtitle>
              {{todayAnniversary.age}}
            </mat-card-subtitle>
          </mat-card>
        </div>

      </ng-template>

    </div>
  </section>

  <div class="row section-content" *ngIf="todayAnniversaries.length==0">
    <div class="col">

      <mat-card class="flat-empty-card text-center">
        <mat-icon class="material-icons-outlined">cake</mat-icon>
        <mat-card-title>No hay aniversarios para hoy</mat-card-title>
      </mat-card>

    </div>
  </div>

</div>
