<div class="content-area" #panel (scroll)="onScroll($event)">
  <div class="row">
    <div class="col">

      <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let month of months" label="{{month.name}}">

          <div class="row">
            <div class="col-12 offset-0 col-lg-8 offset-lg-2">

              <mat-card>
                <mat-card-content *ngIf="month.motives.length!=0">

                  <div class="praying-calendar-item" *ngFor="let motive of month.motives">
                    <div class="motive-day">
                      {{getDay(motive)}}
                    </div>
                    <div class="motive-description">
                      {{motive.motive}}
                    </div>
                  </div>

                </mat-card-content>

                <mat-card-content *ngIf="month.motives.length==0" class="text-center">
                  <h2>No hay motivos de oración este mes</h2>
                </mat-card-content>
              </mat-card>

            </div>
          </div>

        </mat-tab>
      </mat-tab-group>

    </div>
  </div>

  <button mat-mini-fab class="go-up" (click)="scrollPanelToTop()" *ngIf="isGoUpVisible()">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
