<div class="content-area" #panel (scroll)="onScroll($event)">
  <div class="row">
    <div class="col">

      <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let month of months" label="{{month.name}}">

          <div class="praying-calendar-item" *ngFor="let motive of month.motives">
            <div class="motive-day">
              {{motive.number}}
            </div>
            <div class="motive-description">
              {{motive.motive}}
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>

    </div>
  </div>

  <button mat-mini-fab class="go-up" (click)="scrollPanelToTop()" *ngIf="isGoUpVisible()">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
