.content-area {
  overflow-x: hidden;
  height: 100%;
}

::ng-deep .mat-tab-label {
  min-width: 110px !important;
  width: 110px !important;
  user-select: none;
}

::ng-deep .mat-ink-bar {
  bottom: unset !important;
  top: 50%;
  transform: translate(10px, -50%);
  width: 90px !important;
  height: 28px !important;
  border-radius: 50px;
  border: 2px solid rgba(70, 106, 255, 0.45);
  background-color: rgba(70, 106, 255, 0.25) !important;
}

::ng-deep .mat-tab-label-active {
  color: #466AFF !important;
  opacity: 1 !important;
}

::ng-deep .mat-tab-label-content {
  font-weight: 500;
}

::ng-deep .mat-tab-body-content {
  padding: 20px;
}

.praying-calendar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
}

.praying-calendar-item .motive-day {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  font-size: 20px;
  box-sizing: content-box;
  border-radius: 50%;
  padding: 4px;
  color: #466AFF;
  background-color: rgba(70, 106, 255, 0.50);

  display: flex;
  align-items: center;
  justify-content: center;
}

.praying-calendar-item .motive-description {
  padding-left: 16px;
}

.go-up {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 24px;
  z-index: 10;
}
