.content-area {
  overflow-x: hidden;
}

::ng-deep .mat-tab-label {
  min-width: 110px !important;
  width: 110px !important;
}

::ng-deep .mat-ink-bar {
  bottom: unset !important;
  top: 50%;
  transform: translate(10px, -50%);
  width: 90px !important;
  height: 28px !important;
  border-radius: 50px;
  border: 2px solid rgba(70, 106, 255, 0.45);
  background-color: rgba(70, 106, 255, 0.25) !important;
}

::ng-deep .mat-tab-label-active {
  /*::ng-deep .mat-tab-label-active .mat-tab-label-content {*/
  color: #466AFF !important;
  opacity: 1 !important;
}

::ng-deep .mat-tab-label-content {
  font-weight: 500;
}

::ng-deep .mat-tab-body-content{
  padding: 20px;
}
