<div class="content-area events-calendar">

  <ejs-schedule
    locale="es"
    [views]="['Month']"
    [rowAutoHeight]="false"
    [allowDragAndDrop]="false"
    [currentView]="'Month'"
    [firstDayOfWeek]="1"
    [eventSettings]="eventSettings"
    [allowResizing]="false"
    height="100%"
  >
    <e-views>
      <e-view option='Month'>

        <ng-template #eventTemplate let-event>
          <div class="template-wrapper" [style.backgroundColor]="event.CategoryColor">
            {{event.Subject}}
          </div>
        </ng-template>

      </e-view>
    </e-views>

  </ejs-schedule>

</div>
