.content-area {
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
}

.content-directory {
  height: calc(100% - 48px);
  overflow: auto;
}

.bottom-nav-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
}

::ng-deep .mat-tab-nav-bar.bottom-nav-bar, ::ng-deep .mat-tab-header.bottom-nav-bar {
  border: none;
}

::ng-deep .bottom-nav-bar .mat-tab-link {
  display: flex;
  flex-direction: column;
}

::ng-deep .bottom-nav-bar .mat-tab-link.active {
  color: #466AFF;
  opacity: 1;
}

::ng-deep .bottom-nav-bar .mat-ink-bar {
  display: none;
}
