<div class="content-area">

  <div class="row">
    <div class="col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">

      <div>
        <img src="assets/img/app_logo.svg" alt="Proyecciones" class="logo">
      </div>

      <div class="social-media mt-2">

        <a href="https://www.facebook.com/AppProyecciones" mat-flat-button mat-icon-button color="primary"
           target="_blank">
          <mat-icon class="material-icons-outlined">facebook</mat-icon>
        </a>

        <a href="https://www.facebook.com/ACBCOcc" mat-flat-button mat-icon-button color="primary"
           target="_blank" class="bg-primary">
          <mat-icon class="material-icons-outlined">link</mat-icon>
        </a>

        <a href="https://proyecciones.pythonanywhere.com/" mat-stroked-button mat-icon-button target="_blank">
          <img src="assets/img/logo_simple.svg" alt="">
        </a>

      </div>

      <header class="mt-4">
        <h2 class="mb-0">Proyecciones</h2>
        <small>versión 2021.06.28-beta</small><br>
        <small>&copy; 2021</small>
      </header>

      <div class="lema mt-4">
        <div class="quote">
          "... Más yo estoy entre vosotros como el que sirve."
        </div>
        <small>Lucas 22:27</small>
      </div>

      <div class="description mt-4">
        <small>
          Es un gozo presentarles la aplicación <b>Proyecciones</b> como herramienta de trabajo. Estimado hermano, le
          exhortamos a que nos notifique de cualquier error que pueda encontrar y de cambios que puedan surgir para
          mantener la información actualizada. <br>
          ¡No dude en contactarnos! <br>
          Dios le bendiga
        </small>
      </div>

      <a href="mailto:proyecciones@cbcocc.co.cu?Subject=Acerca de errores en Proyecciones Web" mat-flat-button
         color="primary" class="contact-us mt-4">
        <mat-icon>email</mat-icon>
        CONTÁCTENOS
      </a>

      <div class="thanks mt-4">
        <h2>Agradecimientos</h2>
        <small>
          Agradecemos especialmente a <b>Dios</b> por permitirnos servirle como <b>Él</b> merece y a todos aquellos
          hermanos que de una forma u otra han contribuido a que Proyecciones sea una mejor herramienta
        </small>
      </div>


    </div>
  </div>

</div>
