.content-area {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-list-icon {
  color: #466AFF;
  background-color: rgba(70, 106, 255, 0.50);
}

.mat-list-item {
  height: 64px !important;
}

.mat-list-item .mat-line:first-of-type {
  font-weight: 500;
}

.mat-list-item .mat-line:nth-child(2) {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}
